In [11]:
from coverage_env import CoverageEnv
from stable_baselines3 import DQN, PPO
from stable_baselines3.common.evaluation import evaluate_policy
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
env_0 = CoverageEnv(curriculum=0)
env_1 = CoverageEnv(curriculum=1)
env_2 = CoverageEnv(curriculum=2)
env_3 = CoverageEnv(curriculum=3)
env_4 = CoverageEnv(curriculum=4)

In [13]:
model_dqn_0 = DQN.load("models/dqn/mlp/coverage_lvl0.zip")
model_dqn_1 = DQN.load("models/dqn/mlp/coverage_lvl1.zip")
model_dqn_2 = DQN.load("models/dqn/mlp/coverage_lvl2.zip")
model_dqn_3 = DQN.load("models/dqn/mlp/coverage_lvl3.zip")
model_dqn_4 = DQN.load("models/dqn/mlp/coverage_lvl4.zip")

/home/joaolucasmbc/mambaforge/envs/rl-cpp/lib/python3.10/site-packages/stable_baselines3/common/save_util.py:167: UserWarning: Could not deserialize object lr_schedule. Consider using `custom_objects` argument to replace this object.
Exception: code expected at most 16 arguments, got 18
  warnings.warn(
/home/joaolucasmbc/mambaforge/envs/rl-cpp/lib/python3.10/site-packages/stable_baselines3/common/save_util.py:167: UserWarning: Could not deserialize object exploration_schedule. Consider using `custom_objects` argument to replace this object.
Exception: code expected at most 16 arguments, got 18
  warnings.warn(

In [14]:
mean_reward_dqn_0, std_reward_dqn_0 = evaluate_policy(
    model_dqn_0, 
    env_0,
    n_eval_episodes=20, 
    deterministic=True,
)

mean_reward_dqn_1, std_reward_dqn_1 = evaluate_policy(
    model_dqn_1, 
    env_1,
    n_eval_episodes=20, 
    deterministic=True,
)

mean_reward_dqn_2, std_reward_dqn_2 = evaluate_policy(
    model_dqn_2, 
    env_2,
    n_eval_episodes=20, 
    deterministic=True,
)

mean_reward_dqn_3, std_reward_dqn_3 = evaluate_policy(
    model_dqn_3, 
    env_3,
    n_eval_episodes=20, 
    deterministic=True,
)

mean_reward_dqn_4, std_reward_dqn_4 = evaluate_policy(
    model_dqn_4, 
    env_4,
    n_eval_episodes=20, 
    deterministic=True,
)

# Put all results in a DataFrame
results = pd.DataFrame({
    "Curriculum": ["Level 0", "Level 1", "Level 2", "Level 3", "Level 4"],
    "Model": [
        "DQN",
        "DQN",
        "DQN",
        "DQN",
        "DQN",
    ],
    "Mean Reward": [
        mean_reward_dqn_0,
        mean_reward_dqn_1,
        mean_reward_dqn_2,
        mean_reward_dqn_3,
        mean_reward_dqn_4,
    ],
    "Std Reward": [
        std_reward_dqn_0,
        std_reward_dqn_1,
        std_reward_dqn_2,
        std_reward_dqn_3,
        std_reward_dqn_4,
    ],
})

/home/joaolucasmbc/mambaforge/envs/rl-cpp/lib/python3.10/site-packages/stable_baselines3/common/evaluation.py:67: UserWarning: Evaluation environment is not wrapped with a ``Monitor`` wrapper. This may result in reporting modified episode lengths and rewards, if other wrappers happen to modify these. Consider wrapping environment first with ``Monitor`` wrapper.
  warnings.warn(

In [15]:
results.head()

  Curriculum Model  Mean Reward  Std Reward
0    Level 0   DQN        42.55    0.920598
1    Level 1   DQN        44.75    1.971674
2    Level 2   DQN        39.25    2.913331
3    Level 3   DQN        38.55    2.923611
4    Level 4   DQN      -195.65    4.596466

In [18]:
# Do the same for ppo/no_l2/ folder
model_ppo_0 = PPO.load("models/ppo/no_l2/mlp_coverage_lvl0.zip")
model_ppo_1 = PPO.load("models/ppo/no_l2/mlp_coverage_lvl1.zip")
model_ppo_2 = PPO.load("models/ppo/no_l2/mlp_coverage_lvl2.zip")
model_ppo_3 = PPO.load("models/ppo/no_l2/mlp_coverage_lvl3.zip")
model_ppo_4 = PPO.load("models/ppo/no_l2/mlp_coverage_lv4.zip")

In [20]:
mean_reward_ppo_0, std_reward_ppo_0 = evaluate_policy(
    model_ppo_0,
    env_0,
    n_eval_episodes=20,
    deterministic=True,
)
mean_reward_ppo_1, std_reward_ppo_1 = evaluate_policy(
    model_ppo_1,
    env_1,
    n_eval_episodes=20,
    deterministic=True,
)
mean_reward_ppo_2, std_reward_ppo_2 = evaluate_policy(
    model_ppo_2,
    env_2,
    n_eval_episodes=20,
    deterministic=True,
)  
mean_reward_ppo_3, std_reward_ppo_3 = evaluate_policy(
    model_ppo_3,
    env_3,
    n_eval_episodes=20,
    deterministic=True,
)
mean_reward_ppo_4, std_reward_ppo_4 = evaluate_policy(
    model_ppo_4,
    env_4,
    n_eval_episodes=20,
    deterministic=True,
)

# Create the new rows as DataFrames
ppo_results = pd.DataFrame([
    {"Curriculum": "Level 0", "Model": "PPO", "Mean Reward": mean_reward_ppo_0, "Std Reward": std_reward_ppo_0},
    {"Curriculum": "Level 1", "Model": "PPO", "Mean Reward": mean_reward_ppo_1, "Std Reward": std_reward_ppo_1},
    {"Curriculum": "Level 2", "Model": "PPO", "Mean Reward": mean_reward_ppo_2, "Std Reward": std_reward_ppo_2},
    {"Curriculum": "Level 3", "Model": "PPO", "Mean Reward": mean_reward_ppo_3, "Std Reward": std_reward_ppo_3},
    {"Curriculum": "Level 4", "Model": "PPO", "Mean Reward": mean_reward_ppo_4, "Std Reward": std_reward_ppo_4}
])

# Concatenate the new rows to the existing DataFrame
results = pd.concat([results, ppo_results], ignore_index=True)

In [24]:
results.head(10)

  Curriculum Model  Mean Reward  Std Reward
0    Level 0   DQN        42.55    0.920598
1    Level 1   DQN        44.75    1.971674
2    Level 2   DQN        39.25    2.913331
3    Level 3   DQN        38.55    2.923611
4    Level 4   DQN      -195.65    4.596466
5    Level 0   PPO        -1.35   88.830893
6    Level 1   PPO        32.80   53.420595
7    Level 2   PPO        27.10   50.079836
8    Level 3   PPO        40.45    1.802082
9    Level 4   PPO        30.55    2.333988

In [25]:
# Lastly, do the same for ppo/l2/ folder
model_ppo_l2_0 = PPO.load("models/ppo/l2/mlp_coverage_lvl0.zip")
model_ppo_l2_1 = PPO.load("models/ppo/l2/mlp_coverage_lvl1.zip")
model_ppo_l2_2 = PPO.load("models/ppo/l2/mlp_coverage_lvl2.zip")
model_ppo_l2_3 = PPO.load("models/ppo/l2/mlp_coverage_lvl3.zip")
model_ppo_l2_4 = PPO.load("models/ppo/l2/mlp_coverage_lvl4.zip")

/home/joaolucasmbc/mambaforge/envs/rl-cpp/lib/python3.10/site-packages/stable_baselines3/common/save_util.py:167: UserWarning: Could not deserialize object clip_range. Consider using `custom_objects` argument to replace this object.
Exception: code expected at most 16 arguments, got 18
  warnings.warn(
/home/joaolucasmbc/mambaforge/envs/rl-cpp/lib/python3.10/site-packages/stable_baselines3/common/save_util.py:167: UserWarning: Could not deserialize object lr_schedule. Consider using `custom_objects` argument to replace this object.
Exception: code expected at most 16 arguments, got 18
  warnings.warn(
/home/joaolucasmbc/mambaforge/envs/rl-cpp/lib/python3.10/site-packages/stable_baselines3/common/on_policy_algorithm.py:150: UserWarning: You are trying to run PPO on the GPU, but it is primarily intended to run on the CPU when not using a CNN policy (you are using ActorCriticPolicy which should be a MlpPolicy). See https://github.com/DLR-RM/stable-baselines3/issues/1245 for more info. You can pass `device='cpu'` or `export CUDA_VISIBLE_DEVICES=` to force using the CPU.Note: The model will train, but the GPU utilization will be poor and the training might take longer than on CPU.
  warnings.warn(

In [26]:
mean_reward_ppo_l2_0, std_reward_ppo_l2_0 = evaluate_policy(
    model_ppo_l2_0,
    env_0,
    n_eval_episodes=20,
    deterministic=True,
)
mean_reward_ppo_l2_1, std_reward_ppo_l2_1 = evaluate_policy(
    model_ppo_l2_1,
    env_1,
    n_eval_episodes=20,
    deterministic=True,
)
mean_reward_ppo_l2_2, std_reward_ppo_l2_2 = evaluate_policy(
    model_ppo_l2_2,
    env_2,
    n_eval_episodes=20,
    deterministic=True,
)
mean_reward_ppo_l2_3, std_reward_ppo_l2_3 = evaluate_policy(
    model_ppo_l2_3,
    env_3,
    n_eval_episodes=20,
    deterministic=True,
)
mean_reward_ppo_l2_4, std_reward_ppo_l2_4 = evaluate_policy(
    model_ppo_l2_4,
    env_4,
    n_eval_episodes=20,
    deterministic=True,
)  

# Create the new rows as DataFrames
ppo_l2_results = pd.DataFrame([
    {"Curriculum": "Level 0", "Model": "PPO L2", "Mean Reward": mean_reward_ppo_l2_0, "Std Reward": std_reward_ppo_l2_0},
    {"Curriculum": "Level 1", "Model": "PPO L2", "Mean Reward": mean_reward_ppo_l2_1, "Std Reward": std_reward_ppo_l2_1},
    {"Curriculum": "Level 2", "Model": "PPO L2", "Mean Reward": mean_reward_ppo_l2_2, "Std Reward": std_reward_ppo_l2_2},
    {"Curriculum": "Level 3", "Model": "PPO L2", "Mean Reward": mean_reward_ppo_l2_3, "Std Reward": std_reward_ppo_l2_3},
    {"Curriculum": "Level 4", "Model": "PPO L2", "Mean Reward": mean_reward_ppo_l2_4, "Std Reward": std_reward_ppo_l2_4}
])
# Concatenate the new rows to the existing DataFrame
results = pd.concat([results, ppo_l2_results], ignore_index=True)

/home/joaolucasmbc/mambaforge/envs/rl-cpp/lib/python3.10/site-packages/stable_baselines3/common/evaluation.py:67: UserWarning: Evaluation environment is not wrapped with a ``Monitor`` wrapper. This may result in reporting modified episode lengths and rewards, if other wrappers happen to modify these. Consider wrapping environment first with ``Monitor`` wrapper.
  warnings.warn(

In [27]:
results.head(15)

   Curriculum   Model  Mean Reward  Std Reward
0     Level 0     DQN        42.55    0.920598
1     Level 1     DQN        44.75    1.971674
2     Level 2     DQN        39.25    2.913331
3     Level 3     DQN        38.55    2.923611
4     Level 4     DQN      -195.65    4.596466
5     Level 0     PPO        -1.35   88.830893
6     Level 1     PPO        32.80   53.420595
7     Level 2     PPO        27.10   50.079836
8     Level 3     PPO        40.45    1.802082
9     Level 4     PPO        30.55    2.333988
10    Level 0  PPO L2        43.10    1.260952
11    Level 1  PPO L2        44.65    2.056089
12    Level 2  PPO L2        39.30    2.193171
13    Level 3  PPO L2        39.20    2.227106
14    Level 4  PPO L2        31.50    2.578759

In [29]:
#Mean A* rewards per curriculum level:
#  Level 0: 42.25
#  Level 1: 45.50
#  Level 2: 40.45
#  Level 3: 40.65
#  Level 4: 30.90

# Add the A* results to the DataFrame without standard deviation
astar_results = pd.DataFrame([
    {"Curriculum": "Level 0", "Model": "A*", "Mean Reward": 42.25, "Std Reward": None},
    {"Curriculum": "Level 1", "Model": "A*", "Mean Reward": 45.50, "Std Reward": None},
    {"Curriculum": "Level 2", "Model": "A*", "Mean Reward": 40.45, "Std Reward": None},
    {"Curriculum": "Level 3", "Model": "A*", "Mean Reward": 40.65, "Std Reward": None},
    {"Curriculum": "Level 4", "Model": "A*", "Mean Reward": 30.90, "Std Reward": None}
])
# Concatenate the A* results to the existing DataFrame
results = pd.concat([results, astar_results], ignore_index=True)

/tmp/ipykernel_68117/244630703.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results = pd.concat([results, astar_results], ignore_index=True)

In [30]:
results.head(20)

   Curriculum   Model  Mean Reward  Std Reward
0     Level 0     DQN        42.55    0.920598
1     Level 1     DQN        44.75    1.971674
2     Level 2     DQN        39.25    2.913331
3     Level 3     DQN        38.55    2.923611
4     Level 4     DQN      -195.65    4.596466
5     Level 0     PPO        -1.35   88.830893
6     Level 1     PPO        32.80   53.420595
7     Level 2     PPO        27.10   50.079836
8     Level 3     PPO        40.45    1.802082
9     Level 4     PPO        30.55    2.333988
10    Level 0  PPO L2        43.10    1.260952
11    Level 1  PPO L2        44.65    2.056089
12    Level 2  PPO L2        39.30    2.193171
13    Level 3  PPO L2        39.20    2.227106
14    Level 4  PPO L2        31.50    2.578759
15    Level 0      A*        42.25         NaN
16    Level 1      A*        45.50         NaN
17    Level 2      A*        40.45         NaN
18    Level 3      A*        40.65         NaN
19    Level 4      A*        30.90         NaN